* {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans, serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: top;
}

table {
    border: 0;
    border-spacing: 0;
}

td {
    padding: 0;
}

.form {

}

.form .F_control {
    background-color: #FAFAFA;
    border: 1px solid #E7E7E7;
    padding: 10px;
    border-top-color: #fff;
}

.form .F_control:first-child {
    border-top-color: #E7E7E7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form .F_control:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form .F_control .FC_title {
    vertical-align: middle;
    color: #AAAAAA;
    text-shadow: 0 1px #FFF;
    width: 50%;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.form .F_control input {
    vertical-align: middle;
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="password"] {
    border: 1px solid #B9B9B9;
    border-bottom-color: #A3A3A3;
    margin: 2px;
    padding: 2px 5px;
    border-radius: 4px;
    box-shadow: inset 1px 1px #E6E6E6;
    background-color: #fff;
}

input[type="submit"] {
    border: 1px solid #6F6F6F;
    border-bottom-color: #333333;
    background-color: #4D4D4D;
    text-shadow: 0px -1px #3F3F3F;
    color: #B9B9B9;
    margin: 2px;
    padding: 2px 8px;
    border-radius: 4px;
}

/*region layout*/
html, body, #main {
    height: 100%;
    background-color: #eee;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#top_part {
    min-height: 100%;
    padding-bottom: 30px;
    background: #5C5C5C;
    font: 14px "Open Sans Regular";
    color: #212121;
}

#footer {
    clear: both;
    margin-top: -30px;
    height: 30px;
    background-color: #9B9B9B;
    color: #414141;
}

/*endregion*/

/*region Menu*/
.menu_item {
    box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.196);
    color: #E8E8E8;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    text-decoration: none;
    transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
}

.menu_item[data-href]:not([data-href=""]):hover {
    background-color: #212121;
}

.menu_item.active {
    background-color: #099ABE;
}

/*endregion*/

/*region Хлебные крошки (breadcrumbs)*/
#breadcrumbs {
    display: block;
    float: left;
}

#breadcrumbs span {

}

#breadcrumbs span + span:before {
    display: inline-block;
    text-align: center;
    content: "/";
    width: 20px;
    font-family: 'Open Sans Regular', 'Arial',serif;
}

/*endregion*/

/*region Tabs*/
#tabs {
    float: right;
    padding-top: 9px;
}

#tabs span {
    border-radius: 3px;
    display: inline-block;
    line-height: 32px;
    padding: 0px 18px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
    background: #3D3D3D;
    color: #E8E8E8;
    margin-left: 5px;
}

#tabs span.active {
    background: #099ABE;
}

/*endregion*/

/*region Меню пользователя*/
#user_menu {
    position: absolute;
    bottom: 0;
    right: 10px;
    border: 1px solid #414141;
    border-bottom-width: 0;
    height: 30px;
    line-height: 29px;
    border-radius: 5px 5px 0 0;
    text-align: right;
    overflow: hidden;
}

#user_menu > span {
    display: block;
    text-align: center;
    padding: 0 10px;
}

#user_menu:hover {
    overflow: visible;
}

#user_menu:hover,
#user_menu:hover #user_menu_drop {
    background-color: #272727;
}

#user_menu_drop {
    height: 0;
    overflow: hidden;
    border: 1px solid #414141;
    border-top-width: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#user_menu:hover #user_menu_drop {
    position: relative;
    height: auto;
    z-index: 1;
}

#user_menu_drop span {
    display: block;
    padding: 0 10px;
}

#user_menu_drop span:hover {
    background-color: #303030;
}

/*endregion*/

#menu {
    width: 30%;
    float: left;
}

#content {
    width: 80%;
    float: right;
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
}

/* замена ссылке */
[data-href]:not([data-href=""]) {
    cursor: pointer;
}

.message {
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #b1ff81;
    color: #0f7403;
    background-color: #d0ffbc;
    margin: 20px;
}

.message.error {
    border-color: #ff6b64;
    color: #5d0100;
    background-color: #ffd6d5;
}

.content .content {
    margin-left: 20px;
    margin-right: 10px;
}

/*region Post */
.post {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-bottom-width: 0;
    padding: 5px;
    line-height: 150%;
}

.post.highlight {
    background-color: #ECECEC;
}

.post:first-child {
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post:last-child {
    margin-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.post .post_image {

}

.post .post_head {

}

.post .post_head .post_icon {

}

.post .post_head .post_title {

}

.post .post_head .post_actions {

}

.post .post_head .post_actions_icon {

}

.post .post_head .post_counter {

}

.post .post_head .post_time {

}

.post .post_content_html {

}

.post .post_bottom_html {
    text-align: right;
}

/*endregion*/

/*region pagination*/
.pagination {

}

.pagination ul {
    display: block;
    text-align: center;
}

.pagination ul li {
    list-style: none;
    display: inline-block;
    line-height: 24px;
    padding: 5px 10px;
    border: 1px solid;
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
}

.pagination ul li:hover {
    background-color: #eeeeee;
}

.pagination ul li.disabled {
    display: none;
}

.pagination ul li.active,
.pagination ul li.active:hover {
    background-color: #414141;
    color: #e0e0e0;
}

/*endregion*/

h1, h2, h3, h4, h5, h6, #logo, #tabs span.active, #tabs span {
    font-family: 'Marmelad', sans-serif;
}

header, nav, article, aside, section, footer {
    display: block;
}

header {
    background: #212121;
    height: 50px;
    left: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
}

header, nav, article, aside, section, footer {
    display: block;
}

aside {
    background: #3D3D3D;
    border-right: 1px solid #212121;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 50px;
    width: 250px;
    z-index: 2;
}

section {
    margin-left: 250px;
    padding: 0px 20px;
}

.cnt {
    margin: 0 auto;
    width: 97%;
}

.ctn {
    margin-bottom: 500px;
    padding-bottom: 40px;
    padding-top: 110px;
}

#logo {
    color: #fff;
    float: left;
    font-size: 20px;
    line-height: 49px;
    margin: 0px;
    z-index: 1;
}

#top {
    background: #212121;
    color: #E8E8E8;
    height: 58px;
}

footer {
    line-height: 50px;
    margin-left: 250px;
    background: #212121;
    color: #FFFFFF;
    left: 0px;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

#title {
    height: 50px;
    left: 0px;
    overflow: hidden;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 3;
    margin-left: 250px;
    background: #099ABE;
    color: #FFFFFF;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}
